<footer class=" bg-gray-800 text-white py-10">
    <div class="section-container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div>
                <h3 class="text-xl font-bold mb-4">Jaouad HALLI</h3>
                <p class="text-gray-400"></p>
            </div>
            <div>
                <h4 class="text-lg font-semibold mb-4">Quick Links</h4>
                <ul class="space-y-2">
                    <li><a routerLink="/blog" class="text-gray-400 hover:text-white">Blog</a></li>
                    <li><a routerLink="/about" class="text-gray-400 hover:text-white">About Us</a></li>
                </ul>
            </div>

            <div>
                <h4 class="text-lg font-semibold mb-4">Contact</h4>
                <ul class="space-y-2 text-gray-400">
                    <li>Email: hallijaouad&#64;gmail.com</li>
                    <li>Phone: (555) 123-4567</li>
                </ul>
            </div>
        </div>

        <div class="border-t border-gray-700 mt-8 pt-8 text-center text-gray-400">
            <p>&copy; Jaouad HALLI. All rights reserved.</p>
        </div>
    </div>
</footer>